{% extends 'layout.html' %}
{% block body %}
<h1 class="text-center mb-5">
    {% if lang == "eng" %}
        Please enter your personal information
    {% elif lang == "ro" %}
        Introduceți vă rog datele personale
    {% else %}
        Bitte geben Sie Ihre persönlichen Daten ein
    {% endif %}
</h1>
<form action="/personal" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">
            {% if lang == "eng" %}
                Name:
            {% elif lang == "ro" %}
                Prenume:
            {% else %}
                Vorname: 
            {% endif %}
        </label>
        <input id="name" name="name" class="form-control" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">
            {% if lang == "eng" %}
                Surname:
            {% elif lang == "ro" %}
                Nume:
            {% else %}
                Nachname:
            {% endif %}
        </label>
        <input id="surname" name="surname" class="form-control" autocomplete="off">
    </div>
    <label for="position" class="form-label">
        {% if lang == "eng" %}
            Choose your position:
        {% elif lang == "ro" %}
            Alegeți-vă poziția:
        {% else %}
            Wählen Sie Ihre Position:
        {% endif %} 
    </label>
    <select name="position" id="position" class="form-select m-2">
        <option value="" disabled selected>
            {% if lang == "eng" or lang == "de" %}
                Position
            {% else %}
                Poziție
            {% endif %}
        </option>
        <option value="student">Student</option>
        <option value="resident">
            {% if lang == "eng"%}
                Resident
            {% elif lang == "ro" %}
                Rezident
            {% else %}
                Asistenzarzt
            {% endif %}
        </option>
        <option value="doctor">
            {% if lang == "eng" %}
                Doctor
            {% elif lang == "ro" %}
                Doctor
            {% else %}
                Arzt
            {% endif %}
        </option>
    </select>
    <label for="country" class="form-label">
        {% if lang == "eng" %}
            Choose your country:
        {% elif lang == "ro" %}
            Alegeți țara:
        {% else %}
            Wählen Sie Ihr Land:
        {% endif %} 
    </label>
    <select name="country" id="country" class="form-select m-2">
        <option value="" disabled selected>
            {% if lang == "eng" %}
                Country
            {% elif lang == "ro" %}
                Țara
            {% else %}
                Land
            {% endif %}
        </option>
        <option value="germany">
            {% if lang == "eng" %}
                Germany
            {% elif lang == "ro" %}
                Germania
            {% else %}
                Deutschland
            {% endif %}
        </option>
        <option value="moldova">
            {% if lang == "eng" or lang == "ro" %}
                Moldova
            {% else %}
                Moldau
            {% endif %}
        </option>
        <option value="romania">
            {% if lang == "eng" %}
                Romania
            {% elif lang == "ro" %}
                România
            {% else %}
                Rumänien
            {% endif %}
        </option>
    </select>
    <input type="hidden" name="lang" value={{ lang }}>
    <button type="submit" class="btn btn-primary mb-3">
        Next
    </button>
</form>
<h1 class="text-danger">
    {{ message }}
</h1>
{% endblock %}